.login-img {
  background-image: url("../img/login.jpg");
  background-position: center;
  background-size: cover;
}

main.container {
  min-height: calc(100vh - 8rem);
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.warning {
  color: #bb2124;
}

.success {
  color: #22bb33;
}

/* SWITCHER DARK/LIGHT THEME */

.switcher {
  position: fixed;
  right: var(--spacing);
  bottom: var(--spacing);
  width: auto;
  margin-bottom: 0;
  padding: 0.75rem;
  border-radius: 2rem;
  box-shadow: var(--card-box-shadow);
  line-height: 1;
  text-align: right;
}

.switcher::after {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.15rem solid currentColor;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    currentColor 0,
    currentColor 50%,
    transparent 50%
  );
  content: "";
  vertical-align: bottom;
}

a.warning.outline[role="button"] {
  border-color: #bb2124;
}

.btn-action {
  font-size: 14px;
  padding: 0.3rem 0.5rem;
}

.card-name {
  max-width: 25ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(21rem, 100%), 1fr));
  gap: 1rem;
}

.products-container article {
  margin: 0;
  padding: 0;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
}

.category-img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: fit-content;
  overflow: hidden;
}

.search-bar {
  display: flex;
  margin-bottom: 0;
}
.search-bar button {
  flex: 1;
  margin-left: -50px;
  max-width: 12ch;
  border-radius: 0 2rem 2rem 0;
}

textarea.invalid {
  border-color: #bb2124;
}
